.avatar-image {
  background-image: url('https://img.icons8.com/dusk/64/000000/person-male.png');
  background-size: cover;
  width: 30px;
  height: 30px;
}

mat-toolbar {
  background: #fff;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 1.6rem;
}

