:host {
  height: 100%;
  display: block;
}

.auth-section {
  max-width: 300px;
  margin: 0 auto;
}

.icon-user {
  margin-right: 10px;
  position: relative;
  top: 4px;
}

.icon-lock {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

