<div class="container">
  <h2 class="text-center m-3">Kiosk on {{kiosk.address.en}}</h2>
  <div class="row d-flex justify-content-around">
    <div class="d-flex flex-column justify-content-center col-lg-4 col-md-4 col-sm-10 col-12 p-0">
      <h3 class="m-3 text-center">General info:</h3>
      <mat-form-field class=" m-3">
        <input matInput placeholder="Title" value="{{kiosk.title}}">
      </mat-form-field>
      <mat-form-field class="m-3">
        <input matInput placeholder="Address" value="{{kiosk.address.en}}">
      </mat-form-field>
      <div class="d-flex justify-content-center flex-column">
        <h3 class="m-3 text-center">Working hours:</h3>
        <div class="d-flex col-lg-12 col-md-12 m-0 p-0">
          <mat-form-field class="col-lg-8 col-md-8" style="margin: 0">
            <mat-label>From</mat-label>
            <mat-select value="{{kiosk.hours.from}}">
              <mat-option value="0">0</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="11">11</mat-option>
              <mat-option value="12">12</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-lg-4 col-md-4 col-sm-4 col-4">
            <mat-label>am/pm</mat-label>
            <mat-select value="am">
              <mat-option value="am">am</mat-option>
              <mat-option value="pm">pm</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex col-lg-12 col-md-12 col-sm-12 col-12" style="margin: 0; padding: 0">
          <mat-form-field class="col-lg-8 col-md-8" style="margin: 0">
            <mat-label>To</mat-label>
            <mat-select value="{{kiosk.hours.to}}">
              <mat-option value="0">0</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="11">11</mat-option>
              <mat-option value="12">12</mat-option>
              <mat-option value="24">24</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-lg-4 col-md-4 col-sm-4 col-4">
            <mat-label>am/pm</mat-label>
            <mat-select value="pm">
              <mat-option value="am">am</mat-option>
              <mat-option value="pm">pm</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center flex-wrap wrap">
      <div class="d-flex justify-content-center align-items-center">
        <img class="widthImg m-3" mat-card-image [src]="kiosk.imageURL"/>
      </div>
    </div>
  </div>
  <h3 class="m-3 text-center">Products</h3>
  <div class="row d-flex justify-content-center ">
    <mat-tab-group class=" col-lg-10">
      <mat-tab *ngFor="let item of kiosk.items" label="{{item.category.title}}({{item.products.length}})">
        <div class="row d-flex justify-content-center col-lg-12 col-md-12 m-0 p-0">
          <mat-card *ngFor="let product of item.products" class="pointer m-3 сol-lg-3 col-md-3 col-sm-6 col-8">
            <img mat-card-image src="{{product.imageURL}}"/>
            <mat-card-title class="title-size">{{product.title}}</mat-card-title>
            <mat-card-content class="d-flex justify-content-center">
              Описание/объем: {{product.description}}<br>
              Цена: {{product.price}}
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


